In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

from Config import hostname, database, username, password, port_id

In [2]:
try:
    conn = psycopg2.connect(
        host = hostname,
        dbname = database,
        user = username,
        password = password,
        port = port_id)
    print("Connected to the database!")

except Exception as e:
    print(f"Unable to connect to the database. Error: {e}")

Connected to the database!

In [3]:
import os
print(os.getcwd())

/Users/p_gajjar/Desktop/U_ofT/Projects_UofT/Project 4/diabetes-prediction

In [4]:
# Load the dataset
data = pd.read_csv('/Users/p_gajjar/Desktop/U_ofT/Projects_UofT/Project 4/diabetes-prediction/data_for_model.csv')

In [5]:
data

,Unnamed: 0,DISPCODE,Diabetes,Smoker,CHD_1,CHD_2,Alcohol,GeneralHealth,MentalHealth,PhysicalHealth,Sex,Age,Education,Income
0,1,1100.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,13.0,2.0,5.0
1,2,1100.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,8.0,4.0,10.0
2,4,1100.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,2.0,0.0,5.0,3.0,5.0
3,6,1100.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,13.0,4.0,8.0
4,7,1100.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,13.0,2.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272355,445123,1100.0,0.0,0.0,0.0,0.0,0.0,4.0,7.0,0.0,0.0,2.0,4.0,4.0
272356,445124,1100.0,2.0,0.0,1.0,0.0,0.0,3.0,15.0,0.0,1.0,10.0,4.0,9.0
272357,445126,1100.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,3.0,4.0,8.0
272358,445128,1100.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,7.0,4.0,7.0
272359,445130,1100.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,11.0,3.0,8.0

In [ ]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data.drop('Diabetes', axis=1), data['Diabetes'], test_size=0.2, random_state=42)

In [ ]:
# Create a logistic regression model
model = LogisticRegression()
model

In [ ]:
# Train the model on the training data
model.fit(X_train, y_train)

In [ ]:
# Make predictions on the testing data
y_pred = model.predict(X_test)

In [ ]:
# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

In [ ]:
# Predict the probabilities of the target variable
y_prob = model.predict_proba(X_test)

In [ ]:
# Create a new dataframe with the predicted probabilities
result = pd.DataFrame({'No Diabetes': y_prob[:, 0], 'Diabetes': y_prob[:, 1]})

In [ ]:
#Print the Result 
print(result)